<div class="flex flex-wrap justify-center mt-4 mb-4">
    <div class="w-full sm:w-1/1 md:w-1/2 lg:w-1/3 xl:w-1/3 px-4 py-4">
        <div class="w-80 m-auto p-2.5 text-center rounded-5">
            <img class="w-full mb-10 rounded-full" src="assets/images/members/member1.png"
                alt="Foto de miembro 1">
            <h3 class="mb-2 text-2xl">Martín Pérez</h3>
            <p class="text-blockquote text-lg"><i class="fa-solid fa-star"></i> Ranking: 22</p>
        </div>
    </div>
    <div class="w-full sm:w-1/1 md:w-1/2 lg:w-1/3 xl:w-1/3 px-4 py-4">
        <div class="w-80 m-auto p-2.5 text-center rounded-5">
            <img class="w-full mb-10 rounded-full" src="assets/images/members/member2.png"
                alt="Foto de miembro 2">
            <h3 class="mb-2 text-2xl">David García</h3>
            <p class="text-blockquote text-lg"><i class="fa-solid fa-star"></i> Ranking: 45</p>
        </div>
    </div>
    <div class="w-full sm:w-1/1 md:w-1/2 lg:w-1/3 xl:w-1/3 px-4 py-4">
        <div class="w-80 m-auto p-2.5 text-center rounded-5">
            <img class="w-full mb-10 rounded-full" src="assets/images/members/member3.png"
                alt="Foto de miembro 3">
            <h3 class="mb-2 text-2xl">Miguel Sánchez</h3>
            <p class="text-blockquote text-lg"><i class="fa-solid fa-star"></i> Ranking: 112</p>
        </div>
    </div>
    <div class="w-full sm:w-1/1 md:w-1/2 lg:w-1/3 xl:w-1/3 px-4 py-4">
        <div class="w-80 m-auto p-2.5 text-center rounded-5">
            <img class="w-full mb-10 rounded-full" src="assets/images/members/member4.png"
                alt="Foto de miembro 4">
            <h3 class="mb-2 text-2xl">Álvaro Fernández</h3>
            <p class="text-blockquote text-lg"><i class="fa-solid fa-star"></i> Ranking: 540</p>
        </div>
    </div>
    <div class="w-full sm:w-1/1 md:w-1/2 lg:w-1/3 xl:w-1/3 px-4 py-4">
        <div class="w-80 m-auto p-2.5 text-center rounded-5">
            <img class="w-full mb-10 rounded-full" src="assets/images/members/member5.png"
                alt="Foto de miembro 5">
            <h3 class="mb-2 text-2xl">Lucía González</h3>
            <p class="text-blockquote text-lg"><i class="fa-solid fa-star"></i> Ranking: 769</p>
        </div>
    </div>
    <div class="w-full sm:w-1/1 md:w-1/2 lg:w-1/3 xl:w-1/3 px-4 py-4">
        <div class="w-80 m-auto p-2.5 text-center rounded-5">
            <img class="w-full mb-10 rounded-full" src="assets/images/members/member6.png"
                alt="Foto de miembro 6">
            <h3 class="mb-2 text-2xl">Ana López</h3>
            <p class="text-blockquote text-lg"><i class="fa-solid fa-star"></i> Ranking: 1156</p>
        </div>
    </div>
    <div class="w-full sm:w-1/1 md:w-1/2 lg:w-1/3 xl:w-1/3 px-4 py-4">
        <div class="w-80 m-auto p-2.5 text-center rounded-5">
            <img class="w-full mb-10 rounded-full" src="assets/images/members/member7.png"
                alt="Foto de miembro 7">
            <h3 class="mb-2 text-2xl">Marta Hernández</h3>
            <p class="text-blockquote text-lg"><i class="fa-solid fa-star"></i> Ranking: 1402</p>
        </div>
    </div>
    <div class="w-full sm:w-1/1 md:w-1/2 lg:w-1/3 xl:w-1/3 px-4 py-4">
        <div class="w-80 m-auto p-2.5 text-center rounded-5">
            <img class="w-full mb-10 rounded-full" src="assets/images/members/member8.png"
                alt="Foto de miembro 8">
            <h3 class="mb-2 text-2xl">Javier Ruiz</h3>
            <p class="text-blockquote text-lg"><i class="fa-solid fa-star"></i> Ranking: 1601</p>
        </div>
    </div>
    <div class="w-full sm:w-1/1 md:w-1/2 lg:w-1/3 xl:w-1/3 px-4 py-4">
        <div class="w-80 m-auto p-2.5 text-center rounded-5">
            <img class="w-full mb-10 rounded-full" src="assets/images/members/member9.png"
                alt="Foto de miembro 9">
            <h3 class="mb-2 text-2xl">Sara Gómez</h3>
            <p class="text-blockquote text-lg"><i class="fa-solid fa-star"></i> Ranking: 1999</p>
        </div>
    </div>
</div>