<ul class="flex flex-col pl-0 mb-0 border rounded border-gray-300">
    <li
        class="text-2xl relative block py-3 px-6 -mb-px border border-r-0 border-l-0 border-gray-300 no-underline flex justify-between items-center">
        Martín Pérez <span
            class="inline-block p-1 text-center font-semibold text-sm align-baseline leading-none rounded bg-main text-white p-2">Posición
            1</span></li>
    <li
        class="text-2xl relative block py-3 px-6 -mb-px border border-r-0 border-l-0 border-gray-300 no-underline flex justify-between items-center">
        David García <span
            class="inline-block p-1 text-center font-semibold text-sm align-baseline leading-none rounded bg-main text-white p-2">Posición
            22</span></li>
    <li
        class="text-2xl relative block py-3 px-6 -mb-px border border-r-0 border-l-0 border-gray-300 no-underline flex justify-between items-center">
        Miguel Sánchez <span
            class="inline-block p-1 text-center font-semibold text-sm align-baseline leading-none rounded bg-main text-white p-2">Posición
            47</span></li>
</ul>